body {
  font-family: Verdana;
  font-size: 2em;
  margin: 0;
}

#myBox {
  background-color: lightgreen;
  width: 300px;
  height: 300px;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
}

#myButton {
  font-size: 2rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.myButtons {
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.enabled {
  background-color: hsl(205, 100%, 60%);
  color: white;
}

.hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
  font-weight: bold;
}

.disabled {
  background-color: hsl(0, 0%, 60%);
  color: hsl(0, 0%, 80%);
}

#myH1 {
  font-size: 5rem;
}
